.container {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  margin-bottom: 2rem;
  color: white;
}

.innerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  place-content: space-between;
  height: 15rem;
  padding: 15px 0;
  border-radius: 100px;
}

.stretch {
  width: 100%;
}

.alignCenter {
  align-items: center;
}

.komoditasText {
  font-weight: bold;
  font-size: 1.2rem;
}

.provinceText {
  font-weight: bold;
}

.cityText {
  font-size: 0.8rem;
}

.priceText {
  font-weight: bold;
  text-align: right;
}

.blueGradient {
  background: linear-gradient(
    337deg,
    rgba(41, 128, 185, 1) 0%,
    rgba(27, 130, 198, 1) 35%,
    rgba(41, 128, 185, 1) 100%
  );
  border-radius: 1rem;
}
