.segment {
  margin-top: 2rem;
  padding: 2rem 0;
}

.alignCenter{
  align-items: center;
}

.textCenter{
  text-align: center;
}

.menuTitle{
  font-size: 1rem;
  font-weight: bold;
}

.menuContent{
  font-size: .9rem;
}